<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <i class="glyphicon glyphicon-signal"></i>
        <h2>Live Results</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus fugit, magni similique doloribus reiciendis.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <i class="glyphicon glyphicon-time"></i>
        <h2>Works Everywhere</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus fugit, magni similique doloribus reiciendis.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <i class="glyphicon glyphicon-thumbs-up"></i>
        <h2>Social Integration</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus fugit, magni similique doloribus reiciendis.</p>
      </div>
    </div>
  </div>
</div>